body {
  overflow-y: hidden;
}

nav {
  top: 25vh;
}

input[type='text'] {
  text-align: center;
  width: 25vw;
}

td > img {
  width: 15vw;
  height: 15vh;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
}

.col-sm-1 {
  width: 10vw;
}

#hNumInput > span {
  position: absolute;
  left: 12.3vw;
}
