<div id={this.state.eId} onMouseOver={this.displayDeleteButton} onMouseOut={this.clearDeleteButton}>
  <button type="button" class="btn btn-danger" onClick={this.deleteComponent}>
    <i class="fas fa-times"></i>
  </button>
